@mixin flexCenter($direction: row, $justify: center)
{
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin testborder($color: red)
{
    border: 1px solid $color;
}

