@mixin flexCenter($direction: row, $justify: center)
{
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin testborder($color: red)
{
    border: 1px solid $color;
}

// A N I M A T I O N

@mixin fade-up($yValue, $sValue, $delay: 0s)
{
    @keyframes fade-up
    {
        0%
        {
            opacity: 0;
            transform: translateY($yValue) scale($sValue);
        }
        
        100%
        {
            opacity: 1;
            transform: translateY(0px) scale(1);

        }
    }

    animation: fade-up 0.6s ease-out $delay;
}

@mixin fade-down($yValue, $sValue, $delay: 0s)
{
    @keyframes fade-down
    {
        0%
        {
            opacity: 0;
            transform: translateY($yValue) scale($sValue);
        }
        
        100%
        {
            opacity: 1;
            transform: translateY(0px) scale(1);

        }
    }

    animation: fade-down 0.6s ease-out $delay;
}

@mixin fade-left($xValue, $sValue, $delay: 0s)
{
    @keyframes fade-left
    {
        0%
        {
            opacity: 0;
            transform: translateX($xValue) scale($sValue);
        }
        
        100%
        {
            opacity: 1;
            transform: translateX(0px) scale(1);

        }
    }

    animation: fade-left 0.6s ease-out $delay forwards;
}

@mixin fade-right($xValue, $sValue, $delay: 0s)
{
    @keyframes fade-right
    {
        0%
        {
            opacity: 0;
            transform: translateX($xValue) scale($sValue);
        }
        
        100%
        {
            opacity: 1;
            transform: translateX(0px) scale(1);

        }
    }

    animation: fade-right 0.6s ease-out $delay forwards;
}

@mixin fade-in($delay: 0s)
{
    @keyframes fade-in
    {
        0%
        {
            opacity: 0;
        }
        
        100%
        {
            opacity: 1;
        }
    }

    animation: fade-in 0.5s ease-in-out $delay forwards;
}

@mixin scroll
{
    @keyframes  appear
    {
        0%
        {
            opacity: 0;
            scale: 0.5;
        }

        100%
        {
            opacity: 1;
            scale: 1;
        }
    }

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}