
// C O L O R S

$primary-txt-color: rgba(3, 8, 31, 1);
$secondary-txt-color: rgba(252, 138, 6, 1);
$third-color: white;

$desc-color: rgba(255, 255, 255, 1);
$order-green: rgba(2, 134, 67, 1);

// F O N T - W E I G H T
$font-weight: 
(
    "regular": 400,
    "medium" : 500,
    "bold" : 600,
    "bolder" : 700
);