.section4
{
    @include flexCenter(column);

    margin-top: 50px;

    @include scroll();

    .section4-container
    {
        // @include testborder;
        @include flexCenter(column);
        align-items: start;

        width: 90%;
        margin-bottom: 50px;

        h1
        {
            font-size: 32px;
            font-weight: weight(bolder);
        }

        .section4-container-content
        {
            @include flexCenter(row, space-between);
            // @include testborder;
            width: 100%;

            margin-top: 50px;
            border-radius: 12px;

            row-gap: 16px;
            // flex-wrap: wrap;

            padding-bottom: 12px;

            overflow-x: auto;

            &.section4-container-content::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }

            &.section4-container-content::-webkit-scrollbar
            {
                width: 10px;
                background-color: #F5F5F5;
            }

            &.section4-container-content::-webkit-scrollbar-thumb
            {
                background-color: #F90;	
                background-image: -webkit-linear-gradient(45deg,
                                                        rgba(255, 255, 255, .2) 25%,
                                                        transparent 25%,
                                                        transparent 50%,
                                                        rgba(255, 255, 255, .2) 50%,
                                                        rgba(255, 255, 255, .2) 75%,
                                                        transparent 75%,
                                                        transparent)
            }
            
            .section4-content
            {
                img
                {
                    width: 260px;
                }
                
                .section4-text
                {
                    background-color: $secondary-txt-color;
                    // border: 2px solid rgba(0, 0, 0, 0.1);
                    border-top: 0px;
                    border-radius: 0px 0px 12px 12px;
                    padding: 12px;

                    color: $third-color;

                    margin-top: -8px;


                    h1
                    {
                        font-weight: weight(bolder);
                        font-size: 18px;
                    }
                }
            }
        }

        .section4-content:nth-child(6), .section4-content:nth-child(7), .section4-content:nth-child(8)
        {
            img
            {
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 12px 12px 0px 0px;
            }
        }
    }
}